node_modules
.env
condense/__pycache__
condense/render/__pycache__
condense/tmp_audio
tests/__pycache__
condense.egg-info/
client/coverage
server/coverage
server/stress_tests/login_report.json.html
server/stress_tests/notes_report.json.html
server/stress_tests/summary_report.json.html
server/stress_tests/login_report.json
server/stress_tests/notes_report.json
server/stress_tests/summary_report.json
.vscode
# Mac specific files ignored.
extensions/.DS_Store
extensions/css/.DS_Store
.DS_Store
.mypy_cache
.pytest_cache
myenv
condense/audio
condense/transcripts
condense/saved_models
server/audio
server/transcripts
