.chatbotStyle {
  /* border: 1px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  bottom: 0px;
  right: 8px;
}

.collapsed {
  background-color: #cbd5e1; /* Default background color */
  transition: background-color 0.3s ease; /* Smooth transition effect */

  /* Other styles here */
}

.collapsed:hover {
  background-color: #2e8bee; /* Background color on hover */
}
