.chatbotStyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 50%; Make the chatbot icon container circular */
  background-color: black; /* Black background */
  /* padding: 5px;  */
  position: fixed;
  bottom: 20px; /* Adjust position as needed */
  right: 20px; /* Adjust position as needed */
  /* z-index: 1000; Ensure it's above other content */
}

.chatbotStyle:hover {
  background-color: #2e2e2e; /* Darker shade of black on hover */
}

.collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Set width to match icon size */
  height: 70px; /* Set height to match icon size */
  border-radius: 10%; /* Make it round */
  cursor: pointer;
}

.collapsed:hover {
  background-color: #2e2e2e; /* Darker shade of black on hover */
}

.collapsed button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
