
.groupside{
    float: right;
    align-self: center;
}

.sidebuttons{
    background-color:  rgb(248 250 252);
    color: #000000;
}
.sidebuttons:hover {
    background-color: #3182ce;
    color: #f6f6f6;
}

.maintext{
    font: "League Gothic";
    font-weight: 400;
}
