.App3 {
    background: linear-gradient(to bottom,  rgb(45, 4, 4), #6f0000);
}

.groupside{
    float: right;
    align-self: center;
}

.sidebuttons{
    background-color:  rgb(248 250 252);
    color: #000000;
}
.sidebuttons:hover {
    background-color: #3182ce;
    color: #f6f6f6;
  }

.header{
    color: #f6f6f6;
    font-family: "League Gothic", serif;
    text-align: left;
    font-size: 3vw;
}

.profilesection{
    color: #070707;
    background-color: #f6f6f6;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileimage{
    width: 10rem;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.profileimage img{
    width: 5rem;
    margin: auto;
}

.summarysection{
    color: #070707;
    height: 65%;
    width: 100%;
    margin-top: 3%;
}

.navtabs{
    cursor: pointer;
}

.navtabsActive{
    border-bottom: 2px solid #64B5F6;
    color: #64B5F6;
    cursor: pointer;

}

.content{
    overflow: scroll;
    height: 92%;
    width: 100%;
    background-color: #e1e1df;
    border-radius: 0.5rem;
    padding: 2%;
}

.empty{
    font-size: large;
    color: black;

}